<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syntax Sleuth Showdown - Acumen 2K25</title>
    <link rel="shortcut icon" href="../static/images/bg-img.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/event.css">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <img src="../static/images/logofinal.png" alt="Logo 1" class="nav-logo">
                <!-- <img src="../static/images/vlogo21.png" alt="Logo 2" class="nav-logo"> -->
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="sponsors.html">Sponsors</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="/committee">Organizing Committee</a></li>
            </ul>
        </nav>
    </header>
    
<div class="wrapper">
    <main class="event-container">
        <section class="event-content">
            <div class="poster">
                <img src="../static/images/images.jpeg" alt="Event Poster">
            </div>
            <div class="event-details">
                <h1>Syntax Sleuth Showdown</h1>
                <p class="event-description">This is a brief description of the event. It provides an overview of what participants can expect.</p>
            </div>
        </section>

        <section class="rules">
            <h2>REGISTRATION FEE</h2>
            <P class="event-description">RS 100</P>
        </section>

        <section class="register">
            <a href="https://forms.google.com/example" target="_blank" class="register-btn">REGISTER HERE</a>
        </section>
    </main>
</div>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-links">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="sponsors.html">Sponsors</a>
                <a href="events.html">Events</a>
                <a href="committee.html">Organizing Committee</a>
            </div>
            <div class="footer-contact">
                <p>Contact Us: acumen2k25@gmail.com</p>
            </div>
            <div class="footer-developers">
                <p>Developed by <span class="highlight">V. Darpad Sai</span> and <span class="highlight">M. Chaitanya</span></p>
            </div>
            <div class="footer-copyright">
                <p>&copy; 2025 VCE CSE ACUMEN 2K25. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    

</body>
</html>
